*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav-bar {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: #DEDEDE;
    transition: 0.2s;
}

.floatingNav {
    width: calc(100vh - 100px); 
    border-radius: 2px;
    box-shadow: 0px 1px 10px #DEDEDE;
  }
  

.jumbotron {
    height: 100vh;
    text-align: center;
    background: url( );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FDE8E9;
}

.jumbotron h1 {
    padding: 1px;
    margin: 220px 0 0 0;
    text-align: center;
    font-family: 'Muli', sans-serif;
    text-shadow: 4px 4px 4px #aaa;

}


#article {
    display: block;
    height: 150vh;
    /* text-align: left; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FDE8E9;
    font-family: 'Muli', sans-serif;
    /* text-shadow: 4px 4px 4px #aaa; */

}

#article h1 {
    display: block;
    text-align: left;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

#article p {
    display: block;
    text-align: left;
    display: block;
    font-family: 'Muli', sans-serif;
    position: absolute;
    font-size: 1.5rem;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#article iframe {
    position: absolute;
    top: 110%;
    left: 48%;
    transform: translateX(-50%) translateY(-50%);

}





/*-------About Me-------*/
#about_me h2 {
    padding: 1px;
    margin: 50px 0 10px;
    font-size: 25px;
    font-family: 'Livvic', sans-serif; 
    font-weight: bold; 
    color: #666666; 
}

#about_me p {
    padding: 1px;
    margin: 0 0 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666666;
}

#about_me button {
    margin: 50px;
}

#about_me_2 .jumbotron {
    height: 50vh;
    text-align: center;
    background: url( );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FDE8E9;
}

#about_me_2 h2{

    margin: 100px;
    font-size: 70px;
}
/* -------services------- */

#services {
    padding: 100px 0; 
    height: 70vh;
    background-color: #DAE6FF;

}

#services h4 {
    padding: 100px 0; 
    text-align: center;
    font-family: 'Muli', Serif;
    font-weight: 300;
    font-size: 25px;
    background-color: #DAE6FF;

}


.service-img {
    width: 100px;
    margin-top: 20px;
}

