*
{
    margin: 0
    padding: 0
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
    height: 100vh;
    text-align: center;
    background: url( );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FDE8E9;
}

.jumbotron h1 {
    padding: 1px;
    margin: 25px;
    font-family: 'Livvic', sans-serif;
    font-weight: semi-bold;
    font-style: italic; 

}

/*-------About-------*/
#about_me h2 {
    padding: 1px;
    margin: 50px;
    font-size: 25px;
    font-family: 'Livvic', sans-serif; 
    font-weight: bold; 
    color: #666666; 
}

#about_me p {
    padding: 1px;
    margin: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #666666;
}

#about_me button {
    margin: 50px;
}
   

/* -------services------- */

#services {
    padding: 80px 0; 
    text-align: center;
    font-family: 'Merriweather', Serif;
    font-weight: 300;
    font-size: 25px;
}

.service-img {
    width: 100px;
    margin-top: 20px;
}